*.pyc
.idea/
.pytest_cache/
dist/
tests/__pycache__
*__pycache__
eggs/
.eggs/
wheels/
*.egg-info/
.installed.cfg
*.egg
.VSCodeCounter/
build
dependencies.egg-info
.hypothesis
.mypy_cache
.coverage
.venv
.pdm-python
coverage.lcov
htmlcov
pdm.lock
.ruff_cache
